.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages-item img {
  width: 90%;
}

.advantages-txt {
  margin-top: 20px;
  font-size: 16px;
  color: #535353;
}
