.blog .title-section, .news .title-section {
  text-align: left;
}

.blog .title-section span, .news .title-section span {
  margin-left: 20px;
  color: #858585;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
}

.blog {
  width: 60%;
}

.blog-items {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  cursor: pointer;
  height: 300px;
  width: 33%;
  background-color: #cdcdcd;
  position: relative;
  margin-bottom: 36px;
  overflow: hidden;
}

.blog-item:hover {
  cursor: pointer;
}

.blog-item:hover img {
  transition: .3s all linear;
  transform: scale(1.1);
}

.blog-item .news-block__title {
  font-size: 21px;
}

.blog-item img {
  transition: .3s all linear;
  width: 100%;
  height: 100%;
}

.blog-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.blog-section .blog-item {
  height: auto;
  width: 30%;
}

.news {
  width: 35%;
  margin-left: 2%;
}

.news-section {
  width: 100%;
  height: 580px;
  display: flex;
  margin-left: 0;
}

.news-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  position: relative;
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.news-item:hover {
  cursor: pointer;
}

.news-item:hover .news-title {
  color: #ff7901;
}

.news-date {
  width: 49px;
  height: 49px;
  background: #eaeaea;
  color: #ff7901;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.news-date span {
  color: #414141;
  font-size: 14px;
}

.news-title {
  margin-left: 14px;
  font-size: 14px;
  font-weight: 300;
  color: #414141;
}

.news-main {
  width: 50%;
  position: relative;
}

.news-block__item {
  overflow: hidden;
}

.news-block__item:hover {
  cursor: pointer;
}

.news-block__item:hover img {
  transition: .3s all linear;
  transform: scale(1.1);
}

.news-block__item img {
  transition: .3s all linear;
  width: 100%;
  height: 100%;
}

.news-block__title {
  z-index: 5;
  font-size: 35px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #29292990;
  padding-left: 60px;
  padding-right: 35px;
}

.news-other {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-other .news-block__item {
  width: 49%;
  height: auto;
  position: relative;
}

.news-other .news-block__item:nth-child(n+1) {
  margin-bottom: 5px;
  margin-left: 3px;
}

.news-other .news-block__item:nth-last-child(2) {
  margin-bottom: 0;
}

.news-other .news-block__item:nth-child(4) {
  margin-bottom: 0;
}

.news-other .news-block__item .news-block__title {
  font-size: 21px;
}
