.btn {
  position: relative;
}

.btn-buy {
  position: absolute;
  bottom: 90px;
  right: 0;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  border: 4px solid #dd8c44;
  background: #dd8c44;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  transition: .3s linear;
}

.btn-buy:hover {
  background: #fc500d;
  border: 4px solid #fc500d;
}

.btn-more {
  cursor: pointer;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-border {
  margin-top: 6px;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  background: #aeaeae;
}

.btn-header__slide {
  border-radius: 0;
  position: relative;
  bottom: 0;
  top: 0;
}

.btn-checkout {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd8c44;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  font-weight: 300;
  transition: .2s all linear;
}

.btn-checkout:hover {
  background: #fc500d;
}

.btn-feedback {
  height: 80px;
  background: #dd8c44;
  width: calc( 100% - 30px);
  font-size: 30px;
  border: none;
  border-radius: 30px;
}
