.cart {
  padding: 60px 30px 60px 30px;
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
}

.cart-title {
  font-size: 32px;
  font-weight: 400;
  color: #1c1c1c;
  margin: 10px 0;
}

.cart-items {
  width: 49%;
}

.cart-form {
  width: 40%;
}

.cart-form__delivery {
  display: none;
}

.cart-item {
  margin-top: 40px;
  border-bottom: 2px solid #acacac;
}

.cart-item:first-child {
  margin-top: 0;
}

.cart-item .cart-title {
  color: #3c3c42;
}

.cart-item__price {
  color: #6e6e6e;
  font-size: 25px;
  margin: 10px 0;
}

.cart-item__character {
  display: flex;
  justify-content: center;
}

.cart-item__character img {
  width: 50%;
}

.cart-item__parameters {
  margin-left: 30px;
}

.cart-item__parameters .device-choose__title {
  font-size: 13px;
}

.cart-item__delete {
  margin: 20px 0 10px;
  text-align: right;
  cursor: pointer;
}

.cart-choose__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.cart-choose__item label {
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400;
}

.cart-choose__item-supline {
  color: #535353;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
}

.cart-form__item {
  display: flex;
  flex-direction: column;
}

.cart-form__item label {
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 14px;
  margin: 20px 0 10px;
}

.cart-form__item input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  padding: 0 10px;
}

.cart-form__item textarea {
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  resize: none;
  padding: 10px;
}

.cart-form__home {
  display: flex;
  justify-content: flex-start;
}

.cart-form__home .cart-form__item:first-child {
  margin-right: 20px;
}

.cart-form__home-item {
  width: 20%;
}

.cart-form__city {
  margin-top: 10px;
}

.cart-amount {
  padding: 30px 0;
  color: #6e6e6e;
  font-size: 26px;
  text-transform: uppercase;
}

.cart-amount span:first-child {
  color: #535353;
  text-transform: none;
}
