.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.container--review {
  padding: 67px 10%;
}

.container--blog {
  flex-direction: row;
}

.container--blog__page {
  flex-direction: column;
}

.container--partners .footer-info__pay {
  display: none;
}
