.custom-radios {
  position: relative;
  height: 70px;
  margin-bottom: 30px;
}

.custom-radios input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.custom-radios .radiobtn {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  left: 0;
  background-color: #e8e8e8;
  border: 1px solid #dd8c44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radios .label-txt {
  margin-left: 40px;
}

.custom-radios [type='radio'] + label:before {
  position: absolute;
  opacity: 0;
  background-color: #535353;
  transition: all .3s ease;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.custom-radios [type='radio']:checked + label:before {
  opacity: 1;
}
