.device {
  padding: 15px 5%;
  background: #fff;
  position: relative;
}

.device-full {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.device-inner {
  padding-bottom: 90px;
  position: relative;
  width: 100%;
  height: 90%;
  border-bottom: 4px solid #acacac;
}

.device-title {
  position: absolute;
  top: 59px;
  left: 0;
  z-index: 2;
}

.device-name {
  color: #3c3c42;
  font-size: 30px;
  font-weight: 300;
}

.device-price {
  margin-top: 29.5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #6e6e6e;
}

.device-choose {
  position: absolute;
  top: 59px;
  right: 40px;
  width: 15%;
}

.device-choose__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #141414;
  margin-bottom: 14px;
}

.device-choose__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.device-choose__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
}

.device-choose__item-active {
  background: #717171;
  color: #ffffff;
  border: 1px solid #717171;
}

.device-parameters {
  margin-bottom: 15px;
}

.character__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.character__item {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.character__img {
  width: 20%;
  text-align: left;
}

.character__img img {
  max-width: 40px;
}

.character__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.about {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fdfdfd;
  padding: 53px 15%;
  background: #fff;
}

.about__character {
  display: none;
}

.about__character .character__item {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.review__select {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.review__arrow {
  margin-top: 3px;
  font-size: 14px;
}

.review__sort {
  margin-right: 3px;
  color: #8f8f8f;
  font-size: 16px;
}

.review__wrapper {
  border: 1px solid #d9d9d9;
  padding: 26px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
  position: relative;
}

.review__img {
  position: relative;
  width: 61px;
  height: 61px;
  background-color: #7d6dad;
  border-radius: 50%;
  flex-shrink: 0;
}

.review__txt {
  margin-left: 15px;
}

.review__top {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.review__name {
  font-weight: 600;
  font-size: 18px;
}

.review__date {
  margin-left: 8px;
  font-size: 10px;
  color: #575757;
  margin-bottom: 2px;
}

.review__about {
  margin-top: 10px;
  font-weight: 400;
  color: #292929;
}

.review__textarea {
  width: 100%;
  resize: none;
  background: transparent;
  border: 1px solid #dcdcdc;
  height: 80px;
  padding: 11px 9px;
}

.review__social {
  margin-top: 10px;
}

.review__opinion {
  width: 100%;
  margin-left: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.review__add .review__img {
  margin-bottom: 40px;
}
