.footer {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  height: 100%;
}

.footer a {
  color: #ffffff;
}

.footer-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

.footer-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info p {
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
}

.footer-item {
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 24px;
}

.footer-item a:hover {
  color: #dd8c44;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contact .footer-item {
  margin-bottom: 0;
}

.footer-phone {
  font-size: 30px;
  margin-bottom: 18px;
}

.footer-address {
  margin-top: 15px;
}

.footer-mobile {
  display: none;
}
