.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26.5px 0;
}

.header-blog {
  justify-content: flex-start;
}

.header-blog .menu {
  margin-left: 30px;
}

.header-blog .menu-item {
  font-size: 25px;
}

.header-slider {
  height: auto;
}

.header-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.header-item__name {
  font-size: 55px;
  font-weight: 100;
  color: #21ffff;
  white-space: nowrap;
}

.header-item__name span {
  font-weight: 400;
}

.header-item__advantages {
  white-space: nowrap;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  padding: 10% 0 20% 0;
  letter-spacing: 2px;
}

.logo {
  box-shadow: 0 1px 18px rgba(9, 10, 12, 0.26);
  width: 120px;
  height: 120px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #484848;
}

.menu-item {
  cursor: pointer;
  margin-right: 18px;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
}

.menu-item:hover a {
  color: #dd8c44;
}

.menu a {
  transition: .2s linear;
  color: #484848;
}

.menu-search {
  display: flex;
  align-items: center;
}

.menu-search i {
  font-size: 22px;
}

.menu-search input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #484848;
  padding: 5px 0;
  font-size: 14px;
  width: 120px;
}

.menu-search input::placeholder {
  color: #484848;
  font-weight: 300;
}

.menu-search img {
  height: 25px;
  margin-left: 10px;
}

.menu-cart {
  width: 61px;
  height: 34px;
  background: url("/img/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.menu-cart__active {
  background: url("/img/cart-active.png");
}

.menu-cart__number {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  bottom: -5px;
  left: 0px;
  color: #dd8c44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-feedback {
  padding: 8px 10px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu-feedback span {
  z-index: 20;
}

.menu-feedback:after {
  background: #dd8c44;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1050ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 20px;
}

.menu-feedback:hover {
  border: 1px solid #dd8c44;
  box-shadow: inset 0 0 0px 1px #dd8c44;
}

.menu-feedback:hover:after {
  left: 120%;
  transition: all 1050ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-mobile {
  display: none;
  color: #ffffff;
  margin-left: 15px;
}

.menu-mobile a {
  color: #ffffff;
}

.menu-mobile__item {
  padding: 3px 0;
  font-size: 13px;
  font-weight: 300;
}

.menu-mobile__item:first-child {
  margin-top: 10px;
}

.menu-mobile__item img {
  margin-right: 5px;
}
