.hotdeals {
  display: flex;
  justify-content: space-between;
  height: 500px;
  position: relative;
}

.hotdeals-item {
  background: #f4f4f4;
  padding: 22px;
  transition: .2s all linear;
}

.hotdeals-item:hover {
  cursor: pointer;
  background: #fff;
}

.hotdeals-item:hover .hotdeals-name, .hotdeals-item:hover .hotdeals-price {
  color: #dd8c44;
}

.hotdeals-main {
  background: #fff;
  width: 45%;
  box-shadow: -4px 30px 62px rgba(9, 10, 12, 0.23);
}

.hotdeals-img {
  margin-top: 70px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hotdeals-img img {
  width: 60%;
}

.hotdeals-name {
  color: #3c3c42;
  font-size: 20px;
  font-weight: 300;
}

.hotdeals-price {
  margin-top: 10px;
  font-size: 14px;
  color: #6e6e6e;
  text-transform: uppercase;
  font-weight: 100;
}

.hotdeals-other {
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  width: 55%;
}

.hotdeals-middle {
  height: 50%;
  display: flex;
  overflow: hidden;
}

.hotdeals-middle .hotdeals-item {
  width: 50%;
}

.hotdeals-middle .hotdeals-item .hotdeals-img {
  margin-top: 0;
}

.hotdeals-middle .hotdeals-item img {
  width: 45%;
}

.hotdeals-low {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.hotdeals-low .hotdeals-img {
  margin-top: 0;
}

.hotdeals-low img {
  width: 50%;
}
