html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  outline: 0;
}

a {
  text-decoration: none;
  color: #190b02;
}

*, *:before, *:after, html {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper--header {
  background: #eeeeee;
}

@media (max-width: 1169px) {
  .wrapper--header {
    background: #fff;
  }
}

.wrapper--header .menu-mobile {
  color: #484848;
  font-weight: 400;
}

.wrapper--header .menu-mobile a {
  color: #484848;
}

.wrapper--header .menu-search {
  color: #484848;
}

.wrapper--header__main {
  background: #789bcb;
}

.wrapper--header__main .menu {
  color: #ffffff;
}

.wrapper--header__main .menu a {
  color: #ffffff;
}

.wrapper--header__main .menu-mobile {
  color: #ffffff;
  font-weight: 400;
}

.wrapper--header__main .menu-mobile a {
  color: #ffffff;
}

.wrapper--header__main .menu-search {
  color: #ffffff;
}

.wrapper--header__main .menu-search input {
  border-bottom: 1px solid #ffffff;
}

.wrapper--header__main .menu-search input::placeholder {
  color: #ffffff;
}

.wrapper--partners {
  margin-top: 30px;
}

.wrapper--map {
  background: url("/img/map.png");
  height: 400px;
}

.wrapper--blog {
  margin-bottom: 50px;
}

.wrapper--footer {
  height: 350px;
  background: #323232;
}

.wrapper--bg {
  background: #fff;
  width: 90vw;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.wrapper--bg__body {
  background: #e8e8e8;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.container--review {
  padding: 67px 10%;
}

.container--blog {
  flex-direction: row;
}

.container--blog__page {
  flex-direction: column;
}

.container--partners .footer-info__pay {
  display: none;
}

.title {
  font-size: 25px;
}

.title-desc {
  font-weight: 400;
  color: #222222;
  margin-bottom: 50px;
}

.title-add_accessories {
  text-transform: uppercase;
  font-weight: 300;
  color: #535353;
  text-align: center;
  margin-top: 90px;
}

.title-section {
  text-transform: uppercase;
  font-weight: 300;
  color: #535353;
  padding: 60px 0;
  text-align: center;
  font-size: 35px;
}

.title-blog {
  text-align: left;
  font-weight: bold;
  text-transform: none;
}

.title-catalog {
  display: flex;
  justify-content: center;
}

.title-arrow {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #a1a1a1;
  display: flex;
  justify-content: center;
}

.title-arrow::before {
  transition: .3s all ease-in-out;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  transform: rotate(45deg);
  bottom: 17px;
}

.title-arrow__active::before {
  bottom: 12px;
  transition: .3s all ease-in-out;
  transform: rotate(-135deg);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26.5px 0;
}

.header-blog {
  justify-content: flex-start;
}

.header-blog .menu {
  margin-left: 30px;
}

.header-blog .menu-item {
  font-size: 25px;
}

.header-slider {
  height: auto;
}

.header-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.header-item__name {
  font-size: 55px;
  font-weight: 100;
  color: #21ffff;
  white-space: nowrap;
}

.header-item__name span {
  font-weight: 400;
}

.header-item__advantages {
  white-space: nowrap;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  padding: 10% 0 20% 0;
  letter-spacing: 2px;
}

.logo {
  box-shadow: 0 1px 18px rgba(9, 10, 12, 0.26);
  width: 120px;
  height: 120px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #484848;
}

.menu-item {
  cursor: pointer;
  margin-right: 18px;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
}

.menu-item:hover a {
  color: #dd8c44;
}

.menu a {
  transition: .2s linear;
  color: #484848;
}

.menu-search {
  display: flex;
  align-items: center;
}

.menu-search i {
  font-size: 22px;
}

.menu-search input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #484848;
  padding: 5px 0;
  font-size: 14px;
  width: 120px;
}

.menu-search input::placeholder {
  color: #484848;
  font-weight: 300;
}

.menu-search img {
  height: 25px;
  margin-left: 10px;
}

.menu-cart {
  width: 61px;
  height: 34px;
  background: url("/img/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.menu-cart__active {
  background: url("/img/cart-active.png");
}

.menu-cart__number {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  bottom: -5px;
  left: 0px;
  color: #dd8c44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-feedback {
  padding: 8px 10px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu-feedback span {
  z-index: 20;
}

.menu-feedback:after {
  background: #dd8c44;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1050ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 20px;
}

.menu-feedback:hover {
  border: 1px solid #dd8c44;
  box-shadow: inset 0 0 0px 1px #dd8c44;
}

.menu-feedback:hover:after {
  left: 120%;
  transition: all 1050ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-mobile {
  display: none;
  color: #ffffff;
  margin-left: 15px;
}

.menu-mobile a {
  color: #ffffff;
}

.menu-mobile__item {
  padding: 3px 0;
  font-size: 13px;
  font-weight: 300;
}

.menu-mobile__item:first-child {
  margin-top: 10px;
}

.menu-mobile__item img {
  margin-right: 5px;
}

.footer {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  height: 100%;
}

.footer a {
  color: #ffffff;
}

.footer-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

.footer-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info p {
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
}

.footer-item {
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 24px;
}

.footer-item a:hover {
  color: #dd8c44;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contact .footer-item {
  margin-bottom: 0;
}

.footer-phone {
  font-size: 30px;
  margin-bottom: 18px;
}

.footer-address {
  margin-top: 15px;
}

.footer-mobile {
  display: none;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

.green {
  background: #94e00b;
}

.white {
  background: #fff;
}

.grey {
  background: #b3b3b3;
}

.device {
  padding: 15px 5%;
  background: #fff;
  position: relative;
}

.device-full {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.device-inner {
  padding-bottom: 90px;
  position: relative;
  width: 100%;
  height: 90%;
  border-bottom: 4px solid #acacac;
}

.device-title {
  position: absolute;
  top: 59px;
  left: 0;
  z-index: 2;
}

.device-name {
  color: #3c3c42;
  font-size: 30px;
  font-weight: 300;
}

.device-price {
  margin-top: 29.5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #6e6e6e;
}

.device-choose {
  position: absolute;
  top: 59px;
  right: 40px;
  width: 15%;
}

.device-choose__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #141414;
  margin-bottom: 14px;
}

.device-choose__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.device-choose__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
}

.device-choose__item-active {
  background: #717171;
  color: #ffffff;
  border: 1px solid #717171;
}

.device-parameters {
  margin-bottom: 15px;
}

.character__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.character__item {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.character__img {
  width: 20%;
  text-align: left;
}

.character__img img {
  max-width: 40px;
}

.character__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.about {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fdfdfd;
  padding: 53px 15%;
  background: #fff;
}

.about__character {
  display: none;
}

.about__character .character__item {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.review__select {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.review__arrow {
  margin-top: 3px;
  font-size: 14px;
}

.review__sort {
  margin-right: 3px;
  color: #8f8f8f;
  font-size: 16px;
}

.review__wrapper {
  border: 1px solid #d9d9d9;
  padding: 26px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
  position: relative;
}

.review__img {
  position: relative;
  width: 61px;
  height: 61px;
  background-color: #7d6dad;
  border-radius: 50%;
  flex-shrink: 0;
}

.review__txt {
  margin-left: 15px;
}

.review__top {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.review__name {
  font-weight: 600;
  font-size: 18px;
}

.review__date {
  margin-left: 8px;
  font-size: 10px;
  color: #575757;
  margin-bottom: 2px;
}

.review__about {
  margin-top: 10px;
  font-weight: 400;
  color: #292929;
}

.review__textarea {
  width: 100%;
  resize: none;
  background: transparent;
  border: 1px solid #dcdcdc;
  height: 80px;
  padding: 11px 9px;
}

.review__social {
  margin-top: 10px;
}

.review__opinion {
  width: 100%;
  margin-left: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.review__add .review__img {
  margin-bottom: 40px;
}

.slick-list {
  padding: 0 !important;
}

.slick-arrow {
  background: transparent;
  border: none;
  cursor: pointer;
}

.slider {
  overflow: hidden;
  padding: 28px 0;
}

.slider-item {
  margin: 28px 2px;
  padding: 29px;
  background: #fff;
  position: relative;
}

.slider-name {
  font-size: 18px;
  color: #535353;
  font-weight: 300;
}

.slider-price {
  text-transform: uppercase;
  color: #6e6e6e;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

.slider-img {
  display: flex;
  justify-content: flex-end;
}

.slider-img img {
  width: 65%;
}

.header-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.header-slider .slick-dots .slick-active {
  background: #fff;
}

.header-slider .slick-dots li {
  width: 14px;
  height: 14px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 5px;
}

.header-slider .slick-dots li button {
  opacity: 0;
}

.slider.add_accessories {
  display: flex;
  margin: 0 5%;
}

.slider.add_accessories .arrow {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider.add_accessories .arrow img {
  width: 40px;
  height: 70px;
}

.slider.add_accessories .slider-item {
  min-height: 250px;
}

.slider.add_accessories .slider-item img {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 0;
  right: 0;
}

.slider.add_accessories .slider-center__next {
  background-color: #f4f4f4;
}

.slider.add_accessories .slick-center {
  transition: .1s all linear;
  background: #fff !important;
  box-shadow: 0 5px 20px rgba(9, 10, 12, 0.13);
}

.add_accesories__mobile {
  display: none;
}

.slider.device-slider {
  padding: 0;
  display: flex;
  max-width: 500px;
  max-height: 600px;
  margin: 0 auto;
}

.slider.device-slider .slider-item {
  padding: 0 29px;
}

.slider.device-slider .slider-item img {
  width: 100%;
  height: 100%;
}

.slider.device-slider .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.slider.device-slider .arrow img {
  width: 40px;
  height: 70px;
}

.slider.device-slider__nav {
  padding: 0;
  width: 220px;
  display: flex;
  position: absolute;
}

.slider.device-slider__nav .slick-track {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 550px !important;
}

.slider.device-slider__nav .slider-item {
  width: 50px !important;
  height: 50px;
  padding: 5px 15px;
  border: 1px solid #d9d9d9;
}

.slider.device-slider__nav .slider-item__active {
  border: 1px solid #ff8841;
}

.slider.device-slider__nav .slider-item img {
  width: 100%;
  height: 100%;
}

.new-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.new-slider .slick-arrow img {
  width: 40px;
  margin: 0 20px;
}

.new-slider .slick-center {
  background: #fff;
  box-shadow: 0px 5px 20px rgba(9, 10, 12, 0.13);
}

.new-item {
  transform: .2s all linear;
  background: #f4f4f4;
}

.btn {
  position: relative;
}

.btn-buy {
  position: absolute;
  bottom: 90px;
  right: 0;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  border: 4px solid #dd8c44;
  background: #dd8c44;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  transition: .3s linear;
}

.btn-buy:hover {
  background: #fc500d;
  border: 4px solid #fc500d;
}

.btn-more {
  cursor: pointer;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-border {
  margin-top: 6px;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  background: #aeaeae;
}

.btn-header__slide {
  border-radius: 0;
  position: relative;
  bottom: 0;
  top: 0;
}

.btn-checkout {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd8c44;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  font-weight: 300;
  transition: .2s all linear;
}

.btn-checkout:hover {
  background: #fc500d;
}

.btn-feedback {
  height: 80px;
  background: #dd8c44;
  width: calc( 100% - 30px);
  font-size: 30px;
  border: none;
  border-radius: 30px;
}

.hotdeals {
  display: flex;
  justify-content: space-between;
  height: 500px;
  position: relative;
}

.hotdeals-item {
  background: #f4f4f4;
  padding: 22px;
  transition: .2s all linear;
}

.hotdeals-item:hover {
  cursor: pointer;
  background: #fff;
}

.hotdeals-item:hover .hotdeals-name, .hotdeals-item:hover .hotdeals-price {
  color: #dd8c44;
}

.hotdeals-main {
  background: #fff;
  width: 45%;
  box-shadow: -4px 30px 62px rgba(9, 10, 12, 0.23);
}

.hotdeals-img {
  margin-top: 70px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hotdeals-img img {
  width: 60%;
}

.hotdeals-name {
  color: #3c3c42;
  font-size: 20px;
  font-weight: 300;
}

.hotdeals-price {
  margin-top: 10px;
  font-size: 14px;
  color: #6e6e6e;
  text-transform: uppercase;
  font-weight: 100;
}

.hotdeals-other {
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  width: 55%;
}

.hotdeals-middle {
  height: 50%;
  display: flex;
  overflow: hidden;
}

.hotdeals-middle .hotdeals-item {
  width: 50%;
}

.hotdeals-middle .hotdeals-item .hotdeals-img {
  margin-top: 0;
}

.hotdeals-middle .hotdeals-item img {
  width: 45%;
}

.hotdeals-low {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.hotdeals-low .hotdeals-img {
  margin-top: 0;
}

.hotdeals-low img {
  width: 50%;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages-item img {
  width: 90%;
}

.advantages-txt {
  margin-top: 20px;
  font-size: 16px;
  color: #535353;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners-img {
  width: 25%;
  margin-bottom: 45px;
  text-align: center;
}

.blog .title-section, .news .title-section {
  text-align: left;
}

.blog .title-section span, .news .title-section span {
  margin-left: 20px;
  color: #858585;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
}

.blog {
  width: 60%;
}

.blog-items {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  cursor: pointer;
  height: 300px;
  width: 33%;
  background-color: #cdcdcd;
  position: relative;
  margin-bottom: 36px;
  overflow: hidden;
}

.blog-item:hover {
  cursor: pointer;
}

.blog-item:hover img {
  transition: .3s all linear;
  transform: scale(1.1);
}

.blog-item .news-block__title {
  font-size: 21px;
}

.blog-item img {
  transition: .3s all linear;
  width: 100%;
  height: 100%;
}

.blog-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.blog-section .blog-item {
  height: auto;
  width: 30%;
}

.news {
  width: 35%;
  margin-left: 2%;
}

.news-section {
  width: 100%;
  height: 580px;
  display: flex;
  margin-left: 0;
}

.news-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  position: relative;
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.news-item:hover {
  cursor: pointer;
}

.news-item:hover .news-title {
  color: #ff7901;
}

.news-date {
  width: 49px;
  height: 49px;
  background: #eaeaea;
  color: #ff7901;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.news-date span {
  color: #414141;
  font-size: 14px;
}

.news-title {
  margin-left: 14px;
  font-size: 14px;
  font-weight: 300;
  color: #414141;
}

.news-main {
  width: 50%;
  position: relative;
}

.news-block__item {
  overflow: hidden;
}

.news-block__item:hover {
  cursor: pointer;
}

.news-block__item:hover img {
  transition: .3s all linear;
  transform: scale(1.1);
}

.news-block__item img {
  transition: .3s all linear;
  width: 100%;
  height: 100%;
}

.news-block__title {
  z-index: 5;
  font-size: 35px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #29292990;
  padding-left: 60px;
  padding-right: 35px;
}

.news-other {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-other .news-block__item {
  width: 49%;
  height: auto;
  position: relative;
}

.news-other .news-block__item:nth-child(n+1) {
  margin-bottom: 5px;
  margin-left: 3px;
}

.news-other .news-block__item:nth-last-child(2) {
  margin-bottom: 0;
}

.news-other .news-block__item:nth-child(4) {
  margin-bottom: 0;
}

.news-other .news-block__item .news-block__title {
  font-size: 21px;
}

.cart {
  padding: 60px 30px 60px 30px;
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
}

.cart-title {
  font-size: 32px;
  font-weight: 400;
  color: #1c1c1c;
  margin: 10px 0;
}

.cart-items {
  width: 49%;
}

.cart-form {
  width: 40%;
}

.cart-form__delivery {
  display: none;
}

.cart-item {
  margin-top: 40px;
  border-bottom: 2px solid #acacac;
}

.cart-item:first-child {
  margin-top: 0;
}

.cart-item .cart-title {
  color: #3c3c42;
}

.cart-item__price {
  color: #6e6e6e;
  font-size: 25px;
  margin: 10px 0;
}

.cart-item__character {
  display: flex;
  justify-content: center;
}

.cart-item__character img {
  width: 50%;
}

.cart-item__parameters {
  margin-left: 30px;
}

.cart-item__parameters .device-choose__title {
  font-size: 13px;
}

.cart-item__delete {
  margin: 20px 0 10px;
  text-align: right;
  cursor: pointer;
}

.cart-choose__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.cart-choose__item label {
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400;
}

.cart-choose__item-supline {
  color: #535353;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
}

.cart-form__item {
  display: flex;
  flex-direction: column;
}

.cart-form__item label {
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 14px;
  margin: 20px 0 10px;
}

.cart-form__item input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  padding: 0 10px;
}

.cart-form__item textarea {
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  resize: none;
  padding: 10px;
}

.cart-form__home {
  display: flex;
  justify-content: flex-start;
}

.cart-form__home .cart-form__item:first-child {
  margin-right: 20px;
}

.cart-form__home-item {
  width: 20%;
}

.cart-form__city {
  margin-top: 10px;
}

.cart-amount {
  padding: 30px 0;
  color: #6e6e6e;
  font-size: 26px;
  text-transform: uppercase;
}

.cart-amount span:first-child {
  color: #535353;
  text-transform: none;
}

.custom-radios {
  position: relative;
  height: 70px;
  margin-bottom: 30px;
}

.custom-radios input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.custom-radios .radiobtn {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  left: 0;
  background-color: #e8e8e8;
  border: 1px solid #dd8c44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radios .label-txt {
  margin-left: 40px;
}

.custom-radios [type='radio'] + label:before {
  position: absolute;
  opacity: 0;
  background-color: #535353;
  transition: all .3s ease;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.custom-radios [type='radio']:checked + label:before {
  opacity: 1;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.catalog-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.catalog-sort-right {
  width: 30%;
}

.catalog-sort__item {
  color: #454545;
  font-size: 16px;
  letter-spacing: 0.67px;
  font-weight: 300;
  margin-right: 15px;
  padding: 2px 10px;
  text-align: center;
  cursor: pointer;
}

.catalog-sort__item:last-child {
  margin-right: 0;
}

.catalog-sort__item-active {
  color: #dd8c44;
  border-bottom: 1px solid #dd8c44;
  font-weight: 400;
}

.catalog-sort__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-item {
  width: 260px;
  height: 260px;
  background: #fff;
  border: 1px solid #a3a3a3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  cursor: pointer;
  transition: .2s all linear;
}

.catalog-item:hover .catalog-item__title {
  color: #dd8c44;
}

.catalog-item__img {
  overflow: hidden;
  width: 40%;
}

.catalog-item__img img {
  width: 100%;
  height: 100%;
}

.catalog-item__title {
  letter-spacing: 0.67px;
  font-size: 16px;
  color: #454545;
  margin-bottom: 15px;
}

.catalog-item__price {
  color: #dd8c44;
  letter-spacing: 0.67px;
  margin-top: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.modal-close {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-close div {
  position: absolute;
  border-radius: 5px;
  height: 8px;
  width: 52px;
  background: #949494;
}

.modal-close div:first-child {
  transform: rotate(45deg);
}

.modal-close div:last-child {
  transform: rotate(-45deg);
}

.modal-title {
  font-size: 36px;
  font-weight: bold;
  color: #272727;
  margin-bottom: 20px;
}

.modal-txt {
  margin-bottom: 20px;
  font-size: 28px;
  color: #585858;
}

.modal-phone {
  font-weight: 300;
}

.modal-feedback {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 0;
  transform: none;
}

.modal-feedback .modal-close {
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 20vh;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.modal-feedback .modal-close__btn {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #434343;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-feedback .modal-close__btn::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(45deg);
}

.modal-feedback .modal-title {
  height: 20vh;
  font-size: 36px;
  margin-left: 15px;
}

.modal-form {
  padding-top: 10vh;
  background-color: #525252;
  height: 60vh;
  width: 100%;
  position: relative;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.modal-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.modal-form input {
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding-left: 30px;
  height: 40px;
  font-size: 20px;
}

.modal-form input::placeholder {
  color: #ffffff;
}

.navigation-mobile {
  height: 80px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 0 5px -2px #000000;
  background: #fff;
  position: fixed;
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.navigation-item {
  width: 15%;
  position: relative;
  text-align: center;
}

.navigation-item:first-child {
  width: 25%;
  text-align: center;
  color: #dd8c44;
  margin-right: 5px;
}

.navigation-item:first-child .call-status {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #dd8c44;
  margin: 0 auto;
}

.navigation-item img {
  max-width: 25px;
}

.navigation-item__cart .menu-cart {
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item__cart .menu-cart__number {
  bottom: -2px;
  left: -2px;
}

.navigation-search {
  font-size: 22px;
}

.navigation-catalog {
  height: 25px;
  width: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navigation-catalog div {
  width: 100%;
  background: #383838;
  border-radius: 20px;
}

.navigation-catalog div:first-child {
  height: 5px;
}

.navigation-catalog div:nth-child(2n+2) {
  height: 5px;
  width: 70%;
}

.navigation-catalog div:last-child {
  height: 4px;
  width: 40%;
}

nav {
  display: none;
}

aside {
  display: none;
}

.map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.map-left {
  padding: 12px 22px;
  background: #fff;
  width: 49%;
  position: relative;
  min-height: 220px;
}

.map-right {
  padding: 0 22px;
  min-height: 265px;
  width: 49%;
  position: relative;
  background: #dd8c44;
  cursor: pointer;
  transition: .3s all linear;
  position: relative;
  display: flex;
  align-items: center;
}

.map-right img {
  transition: .3s all linear;
}

.map-right__inner {
  position: relative;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.map-right:hover {
  background: #fc500d;
}

.map-right:hover img {
  transform: translateY(-10px);
}

.map-name {
  color: #dd8c44;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.map-item {
  color: #343435;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  padding: 10px 0;
}

.map-img {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-img img {
  width: 40%;
}

.map-txt {
  margin-left: 19px;
  font-size: 35px;
}

@media screen and (max-width: 1169px) {
  body {
    background: #e9e9e9;
  }
  .bg-white {
    background: #fff;
  }
  .container--blog {
    flex-direction: column;
  }
  .container--review {
    padding: 15px;
    margin: 15px;
    background: #fff;
    border-radius: 10px;
  }
  .container--new .slider-item {
    margin: 0;
  }
  .container--cart {
    margin-bottom: 10px;
  }
  .container--partners .footer-info__pay {
    display: block;
  }
  .wrapper--bg {
    background: transparent;
    width: 100%;
  }
  .wrapper--map {
    background: url("/img/bg-map.png");
    height: 380px;
  }
  .wrapper--footer {
    background: transparent;
    height: auto;
    padding: 20px 0px 100px 0px;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .header {
    justify-content: flex-start;
    padding: 10px 0;
  }
  .header-item {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .header-item__img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
  }
  .header-item__img img {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .header-item__name {
    font-size: 35px;
  }
  .header-item__advantages {
    font-size: 16px;
    padding: 10px 0 20px 0;
  }
  .header-item__content {
    width: 100%;
    z-index: 2;
  }
  .header-slider {
    min-height: 400px;
    height: 100%;
  }
  .slick-track {
    display: flex;
    height: 100%;
  }
  .slick-list {
    height: 80%;
  }
  .device {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .device-full {
    margin-bottom: 20px;
  }
  .device-title {
    top: 0;
  }
  .device-name {
    font-size: 25px;
  }
  .device-price {
    font-size: 20px;
    margin-top: 0;
  }
  .device-inner {
    height: 100%;
    padding-bottom: 0;
    border-bottom: none;
  }
  .device-title {
    position: relative;
  }
  .device-choose {
    position: relative;
    width: 50%;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .device-choose__title {
    text-transform: none;
    font-size: 12px;
  }
  .device-choose__item {
    width: 15px;
    height: 15px;
    color: #2f6193;
    font-weight: 600;
    border: 1px solid #2f6193;
  }
  .device-choose__item-active {
    color: #ffffff;
    background: #547ca5;
  }
  .device-color .device-choose__items {
    width: 50%;
  }
  .device-color .device-choose__item {
    border: none;
    box-shadow: inset 0 0px 3px #8b8b8b;
  }
  .device-memory .device-choose__item {
    width: auto;
    border-radius: 10px;
    padding: 10px 2px;
    font-size: 10px;
  }
  .device-color {
    order: -1;
  }
  .device-slider .arrow {
    padding: 0;
  }
  .device-slider__nav {
    display: none !important;
  }
  .about {
    padding: 15px;
    border-radius: 10px;
  }
  .character__item {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .character__item:last-child {
    margin-bottom: 10px;
  }
  .character__img {
    width: auto;
    margin-right: 10px;
  }
  .character__img img {
    max-width: 30px;
  }
  .review__wrapper {
    min-height: auto;
    padding: 15px;
    border: 1px solid #e4e4e470;
  }
  .review__name {
    font-size: 14px;
  }
  .review__date {
    font-size: 8px;
  }
  .review__about {
    font-size: 12px;
  }
  .review__social {
    width: 50%;
  }
  .review__social img {
    width: 100%;
    height: 100%;
  }
  .review__item {
    padding: 15px;
  }
  .review__img {
    width: 40px;
    height: 40px;
  }
  .review__textarea {
    font-size: 12px;
    height: auto;
  }
  .review__add {
    margin-bottom: 50px;
  }
  .review__add .review__img {
    margin-bottom: 0;
  }
  .review__sort {
    font-size: 12px;
  }
  .review__arrow {
    font-size: 10px;
    margin-top: 2px;
  }
  .title-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .title-add_accessories {
    font-size: 18px;
    margin: 20px 0 0;
    text-transform: none;
    font-weight: 400;
  }
  .title-section {
    font-size: 24px;
    padding: 30px 0;
    text-align: left;
  }
  .title-catalog {
    font-size: 24px;
    align-items: center;
    white-space: nowrap;
  }
  .title-arrow {
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }
  .title-arrow::before {
    width: 6px;
    height: 6px;
    bottom: 7px;
  }
  .btn-buy {
    position: absolute;
    bottom: 70px;
    width: 180px;
    height: 50px;
    background: #fd8c38;
    border: 1px solid #fd8c38;
    right: 0;
  }
  .btn-more {
    font-weight: 300;
  }
  .btn-header__slide {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 30%;
    border-radius: 30px;
  }
  .btn-border {
    order: -1;
    margin-bottom: 5px;
    height: 2px;
  }
  .btn-checkout {
    font-size: 22px;
    height: 60px;
  }
  .slider.device-slider .slider-item {
    box-shadow: none;
  }
  .slider.device-slider .slider-item img {
    bottom: 0;
  }
  .slider.device-slider .arrow {
    padding: 10px;
  }
  .slider.device-slider .arrow img {
    width: 20px;
  }
  .slider.add_accessories {
    display: none;
  }
  .slider-item {
    margin-bottom: 10px;
    box-shadow: 0 5px 20px rgba(9, 10, 12, 0.13);
    overflow: hidden;
    padding: 10px 10px 0 10px;
    min-height: 250px;
  }
  .slider-item img {
    width: 70%;
    right: 0;
    position: absolute;
    bottom: -5%;
  }
  .slider-items {
    display: flex;
    justify-content: space-between;
  }
  .slider-items .slider-item {
    background: #f2f2f2;
    width: 49%;
    margin: 10px 0;
    box-shadow: none;
    min-height: 200px;
  }
  .slider-items .slider-item .slider-name {
    font-size: 12px;
  }
  .slider-items .slider-item .slider-price {
    font-size: 12px;
  }
  .slider-items .slider-item img {
    width: 90%;
    bottom: -5%;
    position: absolute;
  }
  .device, .about, .container--review {
    border: 1px solid #aaaaaa;
    background: #fff;
  }
  .add_accesories__mobile {
    display: block;
  }
  .hotdeals {
    flex-direction: column;
    height: auto;
  }
  .hotdeals-main {
    width: 100%;
  }
  .hotdeals-other {
    width: 100%;
  }
  .hotdeals-item {
    margin-bottom: 5px;
  }
  .hotdeals-middle {
    justify-content: space-between;
  }
  .hotdeals-middle .hotdeals-item {
    width: 49%;
  }
  .advantages {
    flex-wrap: wrap;
  }
  .advantages-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .advantages-item img {
    width: 95%;
  }
  .advantages-txt {
    padding-left: 15px;
    font-size: 12px;
  }
  .advantages-txt br {
    display: none;
  }
  .partners-img {
    width: 50%;
  }
  .partners-img:nth-child(2n+2) {
    display: flex;
    justify-content: flex-end;
  }
  .partners-img img {
    width: 80%;
  }
  .blog, .news {
    width: 100%;
  }
  .blog-item {
    display: none;
  }
  .blog-item:first-child {
    width: 100%;
    display: block;
  }
  .news-section {
    flex-direction: column;
    height: auto;
  }
  .news-items {
    height: auto;
  }
  .news-other {
    width: 100%;
  }
  .news-block__item {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
  }
  .news-block__item .news-block__title {
    font-size: 12px !important;
    padding: 0 10px;
  }
  .news-main {
    width: 100%;
  }
  .news-main .news-block__title {
    font-size: 18px !important;
    padding: 0 30px;
  }
  .blog-item .news-block__title {
    font-size: 6px;
    padding: 0 10px;
  }
  .new-slider {
    display: none;
  }
  .hotdeals-item {
    padding: 15px;
  }
  .hotdeals-other .hotdeals-name {
    font-size: 14px;
  }
  .hotdeals-other .hotdeals-price {
    font-size: 13px;
  }
  .line-block {
    display: none;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-info__pay-icon {
    justify-content: space-between;
  }
  .footer-info__pay-icon img {
    width: 18.5%;
  }
  .map {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    margin: 0 -15px;
    height: 84px;
    justify-self: end;
  }
  .map-left {
    display: none;
  }
  .map-right {
    width: 100%;
    min-height: auto;
    height: 100%;
  }
  .map-right__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-right img {
    width: 26px;
  }
  .map-txt {
    font-size: 18px;
  }
  .footer {
    display: none;
  }
  .footer-info {
    width: 100%;
  }
  .footer-info br {
    display: none;
  }
  .footer-info p {
    font-size: 14px;
  }
  .footer-mobile {
    display: block;
  }
  .footer-mobile .map-left {
    padding: 15px 0;
    background: transparent;
    width: 100%;
    display: block;
  }
  .footer-mobile .map-name {
    margin-bottom: 10px;
  }
  .footer-mobile .map-item {
    padding: 7px 0;
    font-size: 15px;
  }
  .footer-mobile .map-img {
    width: 10%;
  }
  .cart {
    background: transparent;
    padding: 30px 0 0 0;
  }
  .cart-content {
    flex-direction: column;
  }
  .cart-items {
    width: 100%;
  }
  .cart-title {
    font-size: 24px;
  }
  .cart-item {
    margin-top: 10px;
    background: #e8e8e8;
    border: none;
    border-radius: 10px;
    padding: 30px 12px 15px 12px;
  }
  .cart-item__price {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .cart-item .cart-title {
    font-weight: 300;
    margin: 0;
  }
  .cart-item__delete {
    font-weight: 300;
  }
  .cart-item__character {
    flex-direction: column;
  }
  .cart-item__character img {
    width: 100%;
  }
  .cart-item__parameters {
    margin-top: 20px;
    flex-direction: row;
    margin-left: 0;
    display: flex;
  }
  .cart-item__parameters .device-color {
    margin-right: 20px;
  }
  .cart-item__parameters .device-parameters {
    margin-bottom: 0;
  }
  .cart-item__parameters .device-choose__memory {
    font-size: 14px;
    background: transparent;
    border: none;
    color: #535353;
    font-weight: 300;
  }
  .cart-form {
    margin-top: 10px;
    width: 100%;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 30px 12px 15px 12px;
  }
  .cart-choose__item label {
    font-size: 14px;
  }
  .cart-amount {
    text-align: center;
    font-size: 20px;
  }
  .catalog-sort {
    flex-direction: column;
    align-items: center;
  }
  .catalog-sort__block {
    width: 100%;
  }
  .catalog-sort__block:first-child {
    margin-bottom: 20px;
  }
  .catalog-item {
    width: 140px;
    height: 140px;
  }
  .catalog-item__title {
    font-size: 14px;
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-txt {
    font-size: 16px;
  }
  .modal-close {
    width: 30px;
    height: 30px;
    top: -130%;
    right: -15%;
  }
  .modal-close div {
    height: 5px;
    width: 30px;
  }
  .navigation-mobile {
    display: flex;
  }
}

@media (max-width: 320px) {
  .review__social {
    width: 100%;
  }
  .menu-mobile__item {
    font-size: 12px;
  }
}
