.map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.map-left {
  padding: 12px 22px;
  background: #fff;
  width: 49%;
  position: relative;
  min-height: 220px;
}

.map-right {
  padding: 0 22px;
  min-height: 265px;
  width: 49%;
  position: relative;
  background: #dd8c44;
  cursor: pointer;
  transition: .3s all linear;
  position: relative;
  display: flex;
  align-items: center;
}

.map-right img {
  transition: .3s all linear;
}

.map-right__inner {
  position: relative;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.map-right:hover {
  background: #fc500d;
}

.map-right:hover img {
  transform: translateY(-10px);
}

.map-name {
  color: #dd8c44;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.map-item {
  color: #343435;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  padding: 10px 0;
}

.map-img {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-img img {
  width: 40%;
}

.map-txt {
  margin-left: 19px;
  font-size: 35px;
}
