@media screen and (max-width: 1169px) {
  body {
    background: #e9e9e9;
  }
  .bg-white {
    background: #fff;
  }
  .container--blog {
    flex-direction: column;
  }
  .container--review {
    padding: 15px;
    margin: 15px;
    background: #fff;
    border-radius: 10px;
  }
  .container--new .slider-item {
    margin: 0;
  }
  .container--cart {
    margin-bottom: 10px;
  }
  .container--partners .footer-info__pay {
    display: block;
  }
  .wrapper--bg {
    background: transparent;
    width: 100%;
  }
  .wrapper--map {
    background: url("/img/bg-map.png");
    height: 380px;
  }
  .wrapper--footer {
    background: transparent;
    height: auto;
    padding: 20px 0px 100px 0px;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .header {
    justify-content: flex-start;
    padding: 10px 0;
  }
  .header-item {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .header-item__img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
  }
  .header-item__img img {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .header-item__name {
    font-size: 35px;
  }
  .header-item__advantages {
    font-size: 16px;
    padding: 10px 0 20px 0;
  }
  .header-item__content {
    width: 100%;
    z-index: 2;
  }
  .header-slider {
    min-height: 400px;
    height: 100%;
  }
  .slick-track {
    display: flex;
    height: 100%;
  }
  .slick-list {
    height: 80%;
  }
  .device {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .device-full {
    margin-bottom: 20px;
  }
  .device-title {
    top: 0;
  }
  .device-name {
    font-size: 25px;
  }
  .device-price {
    font-size: 20px;
    margin-top: 0;
  }
  .device-inner {
    height: 100%;
    padding-bottom: 0;
    border-bottom: none;
  }
  .device-title {
    position: relative;
  }
  .device-choose {
    position: relative;
    width: 50%;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .device-choose__title {
    text-transform: none;
    font-size: 12px;
  }
  .device-choose__item {
    width: 15px;
    height: 15px;
    color: #2f6193;
    font-weight: 600;
    border: 1px solid #2f6193;
  }
  .device-choose__item-active {
    color: #ffffff;
    background: #547ca5;
  }
  .device-color .device-choose__items {
    width: 50%;
  }
  .device-color .device-choose__item {
    border: none;
    box-shadow: inset 0 0px 3px #8b8b8b;
  }
  .device-memory .device-choose__item {
    width: auto;
    border-radius: 10px;
    padding: 10px 2px;
    font-size: 10px;
  }
  .device-color {
    order: -1;
  }
  .device-slider .arrow {
    padding: 0;
  }
  .device-slider__nav {
    display: none !important;
  }
  .about {
    padding: 15px;
    border-radius: 10px;
  }
  .character__item {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .character__item:last-child {
    margin-bottom: 10px;
  }
  .character__img {
    width: auto;
    margin-right: 10px;
  }
  .character__img img {
    max-width: 30px;
  }
  .review__wrapper {
    min-height: auto;
    padding: 15px;
    border: 1px solid #e4e4e470;
  }
  .review__name {
    font-size: 14px;
  }
  .review__date {
    font-size: 8px;
  }
  .review__about {
    font-size: 12px;
  }
  .review__social {
    width: 50%;
  }
  .review__social img {
    width: 100%;
    height: 100%;
  }
  .review__item {
    padding: 15px;
  }
  .review__img {
    width: 40px;
    height: 40px;
  }
  .review__textarea {
    font-size: 12px;
    height: auto;
  }
  .review__add {
    margin-bottom: 50px;
  }
  .review__add .review__img {
    margin-bottom: 0;
  }
  .review__sort {
    font-size: 12px;
  }
  .review__arrow {
    font-size: 10px;
    margin-top: 2px;
  }
  .title-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .title-add_accessories {
    font-size: 18px;
    margin: 20px 0 0;
    text-transform: none;
    font-weight: 400;
  }
  .title-section {
    font-size: 24px;
    padding: 30px 0;
    text-align: left;
  }
  .title-catalog {
    font-size: 24px;
    align-items: center;
    white-space: nowrap;
  }
  .title-arrow {
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }
  .title-arrow::before {
    width: 6px;
    height: 6px;
    bottom: 7px;
  }
  .btn-buy {
    position: absolute;
    bottom: 70px;
    width: 180px;
    height: 50px;
    background: #fd8c38;
    border: 1px solid #fd8c38;
    right: 0;
  }
  .btn-more {
    font-weight: 300;
  }
  .btn-header__slide {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 30%;
    border-radius: 30px;
  }
  .btn-border {
    order: -1;
    margin-bottom: 5px;
    height: 2px;
  }
  .btn-checkout {
    font-size: 22px;
    height: 60px;
  }
  .slider.device-slider .slider-item {
    box-shadow: none;
  }
  .slider.device-slider .slider-item img {
    bottom: 0;
  }
  .slider.device-slider .arrow {
    padding: 10px;
  }
  .slider.device-slider .arrow img {
    width: 20px;
  }
  .slider.add_accessories {
    display: none;
  }
  .slider-item {
    margin-bottom: 10px;
    box-shadow: 0 5px 20px rgba(9, 10, 12, 0.13);
    overflow: hidden;
    padding: 10px 10px 0 10px;
    min-height: 250px;
  }
  .slider-item img {
    width: 70%;
    right: 0;
    position: absolute;
    bottom: -5%;
  }
  .slider-items {
    display: flex;
    justify-content: space-between;
  }
  .slider-items .slider-item {
    background: #f2f2f2;
    width: 49%;
    margin: 10px 0;
    box-shadow: none;
    min-height: 200px;
  }
  .slider-items .slider-item .slider-name {
    font-size: 12px;
  }
  .slider-items .slider-item .slider-price {
    font-size: 12px;
  }
  .slider-items .slider-item img {
    width: 90%;
    bottom: -5%;
    position: absolute;
  }
  .device, .about, .container--review {
    border: 1px solid #aaaaaa;
    background: #fff;
  }
  .add_accesories__mobile {
    display: block;
  }
  .hotdeals {
    flex-direction: column;
    height: auto;
  }
  .hotdeals-main {
    width: 100%;
  }
  .hotdeals-other {
    width: 100%;
  }
  .hotdeals-item {
    margin-bottom: 5px;
  }
  .hotdeals-middle {
    justify-content: space-between;
  }
  .hotdeals-middle .hotdeals-item {
    width: 49%;
  }
  .advantages {
    flex-wrap: wrap;
  }
  .advantages-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .advantages-item img {
    width: 95%;
  }
  .advantages-txt {
    padding-left: 15px;
    font-size: 12px;
  }
  .advantages-txt br {
    display: none;
  }
  .partners-img {
    width: 50%;
  }
  .partners-img:nth-child(2n+2) {
    display: flex;
    justify-content: flex-end;
  }
  .partners-img img {
    width: 80%;
  }
  .blog, .news {
    width: 100%;
  }
  .blog-item {
    display: none;
  }
  .blog-item:first-child {
    width: 100%;
    display: block;
  }
  .news-section {
    flex-direction: column;
    height: auto;
  }
  .news-items {
    height: auto;
  }
  .news-other {
    width: 100%;
  }
  .news-block__item {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
  }
  .news-block__item .news-block__title {
    font-size: 12px !important;
    padding: 0 10px;
  }
  .news-main {
    width: 100%;
  }
  .news-main .news-block__title {
    font-size: 18px !important;
    padding: 0 30px;
  }
  .blog-item .news-block__title {
    font-size: 6px;
    padding: 0 10px;
  }
  .new-slider {
    display: none;
  }
  .hotdeals-item {
    padding: 15px;
  }
  .hotdeals-other .hotdeals-name {
    font-size: 14px;
  }
  .hotdeals-other .hotdeals-price {
    font-size: 13px;
  }
  .line-block {
    display: none;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-info__pay-icon {
    justify-content: space-between;
  }
  .footer-info__pay-icon img {
    width: 18.5%;
  }
  .map {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    margin: 0 -15px;
    height: 84px;
    justify-self: end;
  }
  .map-left {
    display: none;
  }
  .map-right {
    width: 100%;
    min-height: auto;
    height: 100%;
  }
  .map-right__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-right img {
    width: 26px;
  }
  .map-txt {
    font-size: 18px;
  }
  .footer {
    display: none;
  }
  .footer-info {
    width: 100%;
  }
  .footer-info br {
    display: none;
  }
  .footer-info p {
    font-size: 14px;
  }
  .footer-mobile {
    display: block;
  }
  .footer-mobile .map-left {
    padding: 15px 0;
    background: transparent;
    width: 100%;
    display: block;
  }
  .footer-mobile .map-name {
    margin-bottom: 10px;
  }
  .footer-mobile .map-item {
    padding: 7px 0;
    font-size: 15px;
  }
  .footer-mobile .map-img {
    width: 10%;
  }
  .cart {
    background: transparent;
    padding: 30px 0 0 0;
  }
  .cart-content {
    flex-direction: column;
  }
  .cart-items {
    width: 100%;
  }
  .cart-title {
    font-size: 24px;
  }
  .cart-item {
    margin-top: 10px;
    background: #e8e8e8;
    border: none;
    border-radius: 10px;
    padding: 30px 12px 15px 12px;
  }
  .cart-item__price {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .cart-item .cart-title {
    font-weight: 300;
    margin: 0;
  }
  .cart-item__delete {
    font-weight: 300;
  }
  .cart-item__character {
    flex-direction: column;
  }
  .cart-item__character img {
    width: 100%;
  }
  .cart-item__parameters {
    margin-top: 20px;
    flex-direction: row;
    margin-left: 0;
    display: flex;
  }
  .cart-item__parameters .device-color {
    margin-right: 20px;
  }
  .cart-item__parameters .device-parameters {
    margin-bottom: 0;
  }
  .cart-item__parameters .device-choose__memory {
    font-size: 14px;
    background: transparent;
    border: none;
    color: #535353;
    font-weight: 300;
  }
  .cart-form {
    margin-top: 10px;
    width: 100%;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 30px 12px 15px 12px;
  }
  .cart-choose__item label {
    font-size: 14px;
  }
  .cart-amount {
    text-align: center;
    font-size: 20px;
  }
  .catalog-sort {
    flex-direction: column;
    align-items: center;
  }
  .catalog-sort__block {
    width: 100%;
  }
  .catalog-sort__block:first-child {
    margin-bottom: 20px;
  }
  .catalog-item {
    width: 140px;
    height: 140px;
  }
  .catalog-item__title {
    font-size: 14px;
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-txt {
    font-size: 16px;
  }
  .modal-close {
    width: 30px;
    height: 30px;
    top: -130%;
    right: -15%;
  }
  .modal-close div {
    height: 5px;
    width: 30px;
  }
  .navigation-mobile {
    display: flex;
  }
}

@media (max-width: 320px) {
  .review__social {
    width: 100%;
  }
  .menu-mobile__item {
    font-size: 12px;
  }
}
