.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.modal-close {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-close div {
  position: absolute;
  border-radius: 5px;
  height: 8px;
  width: 52px;
  background: #949494;
}

.modal-close div:first-child {
  transform: rotate(45deg);
}

.modal-close div:last-child {
  transform: rotate(-45deg);
}

.modal-title {
  font-size: 36px;
  font-weight: bold;
  color: #272727;
  margin-bottom: 20px;
}

.modal-txt {
  margin-bottom: 20px;
  font-size: 28px;
  color: #585858;
}

.modal-phone {
  font-weight: 300;
}

.modal-feedback {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 0;
  transform: none;
}

.modal-feedback .modal-close {
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 20vh;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.modal-feedback .modal-close__btn {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #434343;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-feedback .modal-close__btn::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(45deg);
}

.modal-feedback .modal-title {
  height: 20vh;
  font-size: 36px;
  margin-left: 15px;
}

.modal-form {
  padding-top: 10vh;
  background-color: #525252;
  height: 60vh;
  width: 100%;
  position: relative;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.modal-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.modal-form input {
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding-left: 30px;
  height: 40px;
  font-size: 20px;
}

.modal-form input::placeholder {
  color: #ffffff;
}

.navigation-mobile {
  height: 80px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 0 5px -2px #000000;
  background: #fff;
  position: fixed;
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.navigation-item {
  width: 15%;
  position: relative;
  text-align: center;
}

.navigation-item:first-child {
  width: 25%;
  text-align: center;
  color: #dd8c44;
  margin-right: 5px;
}

.navigation-item:first-child .call-status {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #dd8c44;
  margin: 0 auto;
}

.navigation-item img {
  max-width: 25px;
}

.navigation-item__cart .menu-cart {
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item__cart .menu-cart__number {
  bottom: -2px;
  left: -2px;
}

.navigation-search {
  font-size: 22px;
}

.navigation-catalog {
  height: 25px;
  width: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navigation-catalog div {
  width: 100%;
  background: #383838;
  border-radius: 20px;
}

.navigation-catalog div:first-child {
  height: 5px;
}

.navigation-catalog div:nth-child(2n+2) {
  height: 5px;
  width: 70%;
}

.navigation-catalog div:last-child {
  height: 4px;
  width: 40%;
}
