.slick-list {
  padding: 0 !important;
}

.slick-arrow {
  background: transparent;
  border: none;
  cursor: pointer;
}

.slider {
  overflow: hidden;
  padding: 28px 0;
}

.slider-item {
  margin: 28px 2px;
  padding: 29px;
  background: #fff;
  position: relative;
}

.slider-name {
  font-size: 18px;
  color: #535353;
  font-weight: 300;
}

.slider-price {
  text-transform: uppercase;
  color: #6e6e6e;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
}

.slider-img {
  display: flex;
  justify-content: flex-end;
}

.slider-img img {
  width: 65%;
}

.header-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.header-slider .slick-dots .slick-active {
  background: #fff;
}

.header-slider .slick-dots li {
  width: 14px;
  height: 14px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 5px;
}

.header-slider .slick-dots li button {
  opacity: 0;
}

.slider.add_accessories {
  display: flex;
  margin: 0 5%;
}

.slider.add_accessories .arrow {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider.add_accessories .arrow img {
  width: 40px;
  height: 70px;
}

.slider.add_accessories .slider-item {
  min-height: 250px;
}

.slider.add_accessories .slider-item img {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 0;
  right: 0;
}

.slider.add_accessories .slider-center__next {
  background-color: #f4f4f4;
}

.slider.add_accessories .slick-center {
  transition: .1s all linear;
  background: #fff !important;
  box-shadow: 0 5px 20px rgba(9, 10, 12, 0.13);
}

.add_accesories__mobile {
  display: none;
}

.slider.device-slider {
  padding: 0;
  display: flex;
  max-width: 500px;
  max-height: 600px;
  margin: 0 auto;
}

.slider.device-slider .slider-item {
  padding: 0 29px;
}

.slider.device-slider .slider-item img {
  width: 100%;
  height: 100%;
}

.slider.device-slider .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.slider.device-slider .arrow img {
  width: 40px;
  height: 70px;
}

.slider.device-slider__nav {
  padding: 0;
  width: 220px;
  display: flex;
  position: absolute;
}

.slider.device-slider__nav .slick-track {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 550px !important;
}

.slider.device-slider__nav .slider-item {
  width: 50px !important;
  height: 50px;
  padding: 5px 15px;
  border: 1px solid #d9d9d9;
}

.slider.device-slider__nav .slider-item__active {
  border: 1px solid #ff8841;
}

.slider.device-slider__nav .slider-item img {
  width: 100%;
  height: 100%;
}

.new-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.new-slider .slick-arrow img {
  width: 40px;
  margin: 0 20px;
}

.new-slider .slick-center {
  background: #fff;
  box-shadow: 0px 5px 20px rgba(9, 10, 12, 0.13);
}

.new-item {
  transform: .2s all linear;
  background: #f4f4f4;
}
