.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper--header {
  background: #eeeeee;
}

@media (max-width: 1169px) {
  .wrapper--header {
    background: #fff;
  }
}

.wrapper--header .menu-mobile {
  color: #484848;
  font-weight: 400;
}

.wrapper--header .menu-mobile a {
  color: #484848;
}

.wrapper--header .menu-search {
  color: #484848;
}

.wrapper--header__main {
  background: #789bcb;
}

.wrapper--header__main .menu {
  color: #ffffff;
}

.wrapper--header__main .menu a {
  color: #ffffff;
}

.wrapper--header__main .menu-mobile {
  color: #ffffff;
  font-weight: 400;
}

.wrapper--header__main .menu-mobile a {
  color: #ffffff;
}

.wrapper--header__main .menu-search {
  color: #ffffff;
}

.wrapper--header__main .menu-search input {
  border-bottom: 1px solid #ffffff;
}

.wrapper--header__main .menu-search input::placeholder {
  color: #ffffff;
}

.wrapper--partners {
  margin-top: 30px;
}

.wrapper--map {
  background: url("/img/map.png");
  height: 400px;
}

.wrapper--blog {
  margin-bottom: 50px;
}

.wrapper--footer {
  height: 350px;
  background: #323232;
}

.wrapper--bg {
  background: #fff;
  width: 90vw;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.wrapper--bg__body {
  background: #e8e8e8;
}
