.advantages
    display: flex
    justify-content: space-between
    // align-items: center
    &-item
        display: flex
        align-items: center
        flex-direction: column
        & img
            width: 90%
    &-txt
        margin-top: 20px
        font-size: 16px
        color: #535353