.blog, .news
    & .title-section
        text-align: left
        & span
            margin-left: 20px
            color: #858585
            font-size: 18px
            font-weight: 300
            text-transform: none
.blog
    width: 60%
    &-items
        display: flex
        justify-content: space-between
    &-item
        cursor: pointer
        height: 300px
        width: 33%
        background-color: #cdcdcd
        position: relative
        margin-bottom: 36px
        overflow: hidden
        &:hover
            cursor: pointer
            & img
                transition: .3s all linear
                transform: scale(1.1)
        & .news-block__title
            font-size: 21px
        & img
            transition: .3s all linear
            width: 100%
            height: 100%
    &-section
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        & .blog-item
            height: auto
            width: 30%
.news
    width: 35%
    margin-left: 2%
    &-section
        width: 100%
        height: 580px
        display: flex
        margin-left: 0
    &-items
        display: flex
        flex-direction: column
        justify-content: center
        height: 300px
        position: relative
    &-item
        display: flex
        align-items: center
        margin-bottom: 15px
        &:hover
            cursor: pointer
            & .news-title
                color: #ff7901        
    &-date
        width: 49px
        height: 49px
        background: #eaeaea
        color:#ff7901
        font-weight: 300
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        font-size: 20px
        & span
           color: #414141
           font-size: 14px
    &-title
        margin-left: 14px
        font-size: 14px
        font-weight: 300
        color: #414141
    &-main
        width: 50%
        position: relative
        // overflow: hidden
    &-block
        &__item
            overflow: hidden
            &:hover
                cursor: pointer
                & img
                    transition: .3s all linear
                    transform: scale(1.1)
            & img
                transition: .3s all linear
                width: 100%
                height: 100%
        &__title
            z-index: 5
            font-size: 35px
            font-weight: 300
            display: flex
            justify-content: center
            align-items: center
            color: #ffffff
            width: 100%
            height: 100%
            position: absolute
            background: #29292990
            padding-left: 60px
            padding-right: 35px
    &-other
        width: 50%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        & .news-block__item
            width: 49%
            height: auto
            position: relative
            &:nth-child(n+1)
                margin-bottom: 5px
                margin-left: 3px
            &:nth-last-child(2)
                margin-bottom: 0
            &:nth-child(4)
                margin-bottom: 0
                
            
            & .news-block__title
                font-size: 21px