.cart
    padding: 60px 30px 60px 30px
    background: #fff
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px
    
    &-content
        display: flex
        justify-content: space-between
    &-title
        font-size: 32px
        font-weight: 400
        color: #1c1c1c
        margin: 10px 0
    &-items
        width: 49%
    &-form
        width: 40%
        &__delivery
            display: none
    &-item
        margin-top: 40px
        border-bottom: 2px solid #acacac
        &:first-child
            margin-top: 0
        & .cart-title
            color: #3c3c42
        &__price
            color: #6e6e6e
            font-size: 25px
            margin: 10px 0
        &__character
            display: flex
            justify-content: center
            & img
                width: 50%
        &__parameters
            margin-left: 30px
            & .device-choose__title
                font-size: 13px
        &__delete
            margin: 20px 0 10px
            text-align: right
            cursor: pointer
    &-choose
        &__item
            display: flex
            align-items: center
            margin-bottom: 15px
            position: relative
            width: 100%
            & label
                text-transform: uppercase
                color: #6e6e6e
                font-size: 16px
                font-weight: 400
            &-supline
                color: #535353
                font-size: 12px
                font-weight: 500
                text-transform: none
           
    &-form
        &__item
            display: flex
            flex-direction: column
            & label
                text-transform: uppercase
                color: #6e6e6e
                font-size: 14px
                margin: 20px 0 10px
            & input
                height: 40px
                border-radius: 5px
                border: 1px solid #a1a1a1
                padding: 0 10px
            & textarea
                border-radius: 5px
                border: 1px solid #a1a1a1
                resize: none
                padding: 10px
        &__home
            display: flex
            justify-content: flex-start
            & .cart-form__item:first-child
                margin-right: 20px
            &-item
                width: 20%
        &__city
            margin-top: 10px
    &-amount
        padding: 30px 0
        color: #6e6e6e
        font-size: 26px
        text-transform: uppercase
        & span:first-child
            color: #535353
            text-transform: none