.catalog
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &-sort
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 40px
        &-right 
            width: 30%
        &__item
            color: #454545
            font-size: 16px
            letter-spacing: 0.67px
            font-weight: 300
            margin-right: 15px
            padding: 2px 10px
            text-align: center
            cursor: pointer
            
            &:last-child
                margin-right: 0
            &-active
                color: #dd8c44
                border-bottom: 1px solid #dd8c44
                font-weight: 400
        &__block
            display: flex
            justify-content: space-between
            align-items: center
    &-item
        width: 260px
        height: 260px
        background: #fff
        border: 1px solid #a3a3a3
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin-bottom: 25px
        cursor: pointer
        transition: .2s all linear
        &:hover
            & .catalog-item__title
                color: #dd8c44
        &__img
            overflow: hidden
            width: 40%
            & img
                width: 100%
                height: 100%
        &__title
            letter-spacing: 0.67px
            font-size: 16px
            color: #454545
            margin-bottom: 15px
        &__price
            color: #dd8c44
            letter-spacing: 0.67px
            margin-top: 5px
    