.container
	display: flex
	flex-direction: column
	max-width: 1170px
	width: 100%
	position: relative
	padding-left: 15px
	padding-right: 15px
	&--review
		padding: 67px 10%
	&--blog
		flex-direction: row
		&__page
			flex-direction: column
	&--partners
		.footer-info__pay
			display: none
	&--device
		
		