// .custom-radios [type='radio'] 
//   position: absolute
//   right: 100vw

// 

// .custom-radios [type='radio'] + label:nth-of-type(1) 
//   background: #2ecc71

// .custom-radios [type='radio'] + label:nth-of-type(2) 
//   background: #3498db

// .custom-radios [type='radio'] + label:nth-of-type(3) 
//   background: #f1c40f

// .custom-radios [type='radio'] + label:nth-of-type(4) 
//   background: #e74c3c



.custom-radios
	position: relative
	height: 70px
	margin-bottom: 30px
	& input
		position: absolute
		top: 0
		left: 0
		opacity: 0
	& .radiobtn
		position: absolute
		width: 20px
		height: 20px
		border-radius: 50%
		background: #000000
		left: 0
		background-color: #e8e8e8
		border: 1px solid #dd8c44
		display: flex
		justify-content: center
		align-items: center
	& .label-txt
			margin-left: 40px

.custom-radios [type='radio'] + label:before 
	position: absolute
	opacity: 0
	background-color: #535353
	transition: all .3s ease
	content: ''
	width: 7px 
	height: 7px
	border-radius: 50%

.custom-radios [type='radio']:checked + label:before 
	opacity: 1
