.device
    padding: 15px 5% 
    // height: 824px
    background: #fff
    position: relative
    &-full
        display: flex
        justify-content: space-between
        align-items: flex-end
        position: relative
    &-inner
        padding-bottom: 90px
        position: relative
        width: 100%
        height: 90%
        border-bottom: 4px solid #acacac
        
    &-title
        // display: none
        position: absolute
        top: 59px
        left: 0
        z-index: 2
    &-name
        color: #3c3c42
        font-size: 30px
        font-weight: 300
    &-price
        margin-top: 29.5px
        text-transform: uppercase
        font-weight: 700
        font-size: 24px
        color: #6e6e6e
    &-choose
        position: absolute
        top: 59px
        right: 40px
        width: 15%
        &__title
            text-transform: uppercase
            font-size: 16px
            color: #141414
            margin-bottom: 14px
        &__items
            display: flex
            align-items: center
            justify-content: space-between
        &__item
            width: 40px
            height: 40px
            border-radius: 50%
            border: 1px solid #484848
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            font-size: 10px
            &-active
                background: #717171
                color: #ffffff
                border: 1px solid #717171
    &-parameters
        margin-bottom: 15px
.character
    &__desc
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    &__item
        position: relative
        width: 50%
        display: flex
        align-items: center
        margin-bottom: 50px
    &__img
        width: 20%
        text-align: left
        & img
            max-width: 40px
    &__title
        font-weight: 600
        margin-bottom: 5px
.about
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px
    background-color: #fdfdfd
    padding: 53px 15%
    
    background: #fff
    &__character
        display: none
        & .character__item
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            margin-bottom: 15px

.review
    &__select
        cursor: pointer
        display: flex
        align-items: flex-start
    &__arrow
        margin-top: 3px
        font-size: 14px
    &__sort
        margin-right: 3px
        color: #8f8f8f
        font-size: 16px
    &__wrapper
        border: 1px solid #d9d9d9
        padding: 26px 32px
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 160px
        position: relative
    &__img
        position: relative
        width: 61px
        height: 61px
        background-color: #7d6dad
        border-radius: 50%
        flex-shrink: 0
    &__txt
        margin-left: 15px
    &__top
        display: flex
        align-items: flex-end
        position: relative
    &__name
        font-weight: 600
        font-size: 18px
    &__date
        margin-left: 8px
        font-size: 10px
        color: #575757
        margin-bottom: 2px
    &__about
        margin-top: 10px
        font-weight: 400
        color: #292929
    &__textarea
        width: 100%
        resize: none
        background: transparent
        border: 1px solid #dcdcdc
        height: 80px
        padding: 11px 9px
    &__social 
        margin-top: 10px
    &__opinion
        width: 100%
        margin-left: 15px
        display: flex
        align-items: flex-start
        flex-direction: column
    &__add
        & .review__img
            margin-bottom: 40px