.footer
    color: #ffffff
    display: flex
    justify-content: space-between
    padding: 80px 0
    height: 100%
    & a
        color: #ffffff
    &-title
        text-transform: uppercase
        font-size: 16px
        font-weight: 300
        padding-bottom: 20px
    &-info
        width: 35%
        display: flex
        flex-direction: column
        justify-content: space-between
        & p
            font-size: 14px
            font-weight: 100
            line-height: 25px
    &-item
        font-weight: 100
        font-size: 14px
        margin-bottom: 24px
        & a:hover
            color: #dd8c44
    &-contact
        display: flex
        flex-direction: column
        justify-content: space-between
        & .footer-item
            margin-bottom: 0
    &-phone
        font-size: 30px
        margin-bottom: 18px
    &-address
        margin-top: 15px
    &-mobile
        display: none