.hotdeals
    display: flex
    justify-content: space-between
    height: 500px
    position: relative
    &-item
        background: #f4f4f4
        padding: 22px
        transition: .2s all linear
        &:hover
            cursor: pointer
            background: #fff
            
            & .hotdeals-name, .hotdeals-price
                color: #dd8c44
    &-main
        background: #fff
        width: 45%
        box-shadow: -4px 30px 62px rgba(9, 10, 12, 0.23)
    &-img
        margin-top: 70px
        width: 100%
        position: relative
        display: flex
        justify-content: flex-end
        & img
            width: 60%
    &-name
        color: #3c3c42
        font-size: 20px
        font-weight: 300
    &-price
        margin-top: 10px
        font-size: 14px
        color: #6e6e6e
        text-transform: uppercase
        font-weight: 100
    &-other
        display: flex
        height: 100%
        position: relative
        flex-direction: column
        width: 55%
    &-middle
        height: 50%
        display: flex
        overflow: hidden
        & .hotdeals-item
            width: 50%
            & .hotdeals-img
                margin-top: 0
            & img
                width: 45%
    &-low
        overflow: hidden
        height: 50%
        width: 100%
        & .hotdeals-img
            margin-top: 0
        & img
            width: 50%