$mobile: 1169px
@media screen and (max-width: $mobile)
    body
        // padding: 10px 0
        background: #e9e9e9
    .bg-white
        background: #fff
    .container
        &--blog
            flex-direction: column
        &--review
            padding: 15px
            margin: 15px
            background: #fff
            border-radius: 10px
        &--new
            .slider-item
                margin: 0
        &--cart
            margin-bottom: 10px
        &--partners
            .footer-info__pay
                display: block
       
    .wrapper
        &--bg
            background: transparent
            width: 100%
        &--map
            background: url('/img/bg-map.png')
            height: 380px
        &--footer
            background: transparent
            height: auto
            padding: 20px 0px 100px 0px
    .menu
        display: none
        &-mobile
            display: block
    .logo
        width: 80px
        height: 80px
    .header
        justify-content: flex-start
        padding: 10px 0
        &-item
            width: 100% !important
            height: 100%
            display: flex
            align-items: flex-end
            &__img
                width: 100%
                height: 100%
                position: absolute
                opacity: 0.3
                z-index: 1
                & img
                    height: 100%
                    overflow: hidden
                    width: 100%
            &__name
                font-size: 35px
            &__advantages
                
                font-size: 16px
                padding: 10px 0 20px 0
            &__content
                width: 100%
                z-index: 2
        &-slider
            min-height: 400px
            height: 100%
    .slick
        &-track
            display: flex
            height: 100%
        &-list
            height: 80%
        
    .device
        border-radius: 10px
        margin-bottom: 20px
        &-full
            margin-bottom: 20px
        &-title
            top: 0
        &-name
            font-size: 25px
        &-price
            font-size: 20px
            margin-top: 0
        &-inner
            height: 100%
            padding-bottom: 0
            border-bottom: none
        &-title
            position: relative
        &-choose
            position: relative
            width: 50%
            right: 0
            top: 0
            display: flex
            flex-direction: column
            &__title
                text-transform: none
                font-size: 12px
            &__item
                width: 15px
                height: 15px
                color: rgb(47, 97, 147)
                font-weight: 600
                border: 1px solid rgb(47, 97, 147)
                &-active
                    color: #ffffff
                    background: #547ca5
        &-color
            & .device-choose__items
                width: 50%
            & .device-choose__item
                border: none
                box-shadow: inset 0 0px 3px #8b8b8b
        &-memory
            & .device-choose__item
                width: auto
                border-radius: 10px
                padding: 10px 2px
                font-size: 10px
        &-color
            order: -1
        &-slider
            & .arrow
                padding: 0
    .device-slider__nav
        display: none !important
    .about
        padding: 15px 
        border-radius: 10px
    .character
        &__item
            width: 100%
            font-size: 14px
            font-weight: 300
            margin-bottom: 30px
            &:last-child
                margin-bottom: 10px
        &__img
            width: auto
            margin-right: 10px
            & img
                max-width: 30px
        
    .review
        &__wrapper
            min-height: auto
            padding: 15px
            border: 1px solid #e4e4e470
        &__name
            font-size: 14px
        &__date
            font-size: 8px
        &__about
            font-size: 12px
        &__social
            // display: none
            width: 50%
            & img
                width: 100%
                height: 100%
        &__item
            padding: 15px
        &__img
            width: 40px
            height: 40px
        &__textarea
            font-size: 12px
            height: auto
        &__add
            margin-bottom: 50px
            & .review__img
                margin-bottom: 0
        &__select
        &__sort
            font-size: 12px
        &__arrow
            font-size: 10px
            margin-top: 2px
    .title
        &-desc
            text-align: center
            font-size: 20px
            margin-bottom: 40px
        &-add_accessories
            font-size: 18px
            margin: 20px 0 0
            text-transform: none
            font-weight: 400
        &-section
            font-size: 24px
            padding: 30px 0
            text-align: left
        &-catalog
            font-size: 24px
            align-items: center
            white-space: nowrap
        &-arrow
            margin-left: 5px
            width: 20px
            height: 20px
            &::before
                width: 6px
                height: 6px
                bottom: 7px
    .btn
        &-buy
            // display: none
            position: absolute
            bottom: 70px
            width: 180px
            height: 50px
            background: rgb(253,140,56)
            border: 1px solid rgb(253,140,56)
            right: 0
        &-more
            font-weight: 300
        &-header__slide
            width: 100%
            position: relative
            z-index: 2
            margin-top: 30%
            border-radius: 30px
        &-border
            order: -1
            margin-bottom: 5px
            height: 2px
        &-checkout
            font-size: 22px
            height: 60px

    .slider.device-slider 
        & .slider-item
            box-shadow: none
            & img
                bottom: 0
        & .arrow
            padding: 10px
            & img
                width: 20px
    .slider.add_accessories
        display: none
    .slider
        &-item
            margin-bottom: 10px
            box-shadow: 0 5px 20px rgba(9, 10, 12, 0.13)
            overflow: hidden
            padding: 10px 10px 0 10px
            min-height: 250px
            & img
                width: 70%
                right: 0
                position: absolute
                bottom: -5%
        &-items
            display: flex
            justify-content: space-between
            & .slider-item
                background: rgb(242,242,242)
                width: 49%
                margin: 10px 0
                box-shadow: none
                min-height: 200px
                & .slider-name
                    font-size: 12px
                & .slider-price
                    font-size: 12px
                & img
                    width: 90%
                    bottom: -5%
                    position: absolute
                    
    .device, .about, .container--review
        border: 1px solid rgb(170,170,170)
        background: #fff

    .add_accesories__mobile
        display: block

    .hotdeals
        flex-direction: column
        height: auto
        &-main
            width: 100%
        &-other
            width: 100%
        &-item
            margin-bottom: 5px
        &-middle
            justify-content: space-between
            & .hotdeals-item
                width: 49%
    .advantages
        flex-wrap: wrap
        &-item
            width: 50%
            margin-bottom: 20px
            & img 
                width: 95%
        &-txt
            padding-left: 15px
            font-size: 12px
            & br
                display: none
    
    .partners
        &-img
            width: 50%
            &:nth-child(2n+2)
                display: flex
                justify-content: flex-end
            & img
                width: 80%
    .blog, .news
        width: 100%

    .blog
        &-item
            display: none
            &:first-child
                width: 100%
                display: block
            

    .news
        &-section
            flex-direction: column
            height: auto
        &-items
            height: auto    
        &-other
            width: 100%
        &-block
            &__item
                margin-left: 0 !important
                margin-bottom: 0 !important
                margin-top: 10px
                & .news-block__title
                    font-size: 12px !important
                    padding: 0 10px
        &-main
            width: 100% 
            & .news-block__title
                font-size: 18px !important
                padding: 0 30px

    .blog-item .news-block__title
        font-size: 6px
        padding: 0 10px


    .new
        &-slider
            display: none  


    .hotdeals
        &-item
            padding: 15px
        &-other
            & .hotdeals-name
                font-size: 14px
            & .hotdeals-price
                font-size: 13px
       
    .line-block
        display: none
    .footer-title
        font-size: 24px
    .footer-info__pay-icon
        justify-content: space-between
        & img
            width: 18.5%
    .map
        position: absolute
        bottom: 0
        width: 100%
        flex-direction: column
        margin: 0 -15px
        height: 84px
        justify-self: end
        &-left
            display: none
        &-right
            width: 100%
            min-height: auto
            height: 100%
            &__inner
                width: 100%
                display: flex
                justify-content: center
                align-items: center
            & img
                width: 26px
                
        &-txt
            font-size: 18px
    .footer
        display: none
        &-info
            width: 100%
            & br
                display: none
            & p
                font-size: 14px
        &-mobile
            display: block
            & .map-left
                padding: 15px 0
                background: transparent
                width: 100%
                display: block
            & .map-name
                margin-bottom: 10px
            & .map-item
                padding: 7px 0
                font-size: 15px
            & .map-img
                width: 10%
    .cart
        background: transparent
        padding: 30px 0 0 0
        &-content
            flex-direction: column
        &-items
            width: 100%
        
        &-title
            font-size: 24px
        &-item
            margin-top: 10px
            background: #e8e8e8
            border: none
            border-radius: 10px
            padding: 30px 12px 15px 12px
            &__price
                font-size: 20px
                margin: 0 0 10px
            & .cart-title
                font-weight: 300
                margin: 0
            &__delete
                font-weight: 300
            &__character
                flex-direction: column
                & img
                    width: 100%
            &__parameters
                margin-top: 20px
                flex-direction: row
                margin-left: 0
                display: flex
                & .device-color
                    margin-right: 20px
                & .device-parameters
                    margin-bottom: 0
                & .device-choose__memory
                    font-size: 14px
                    background: transparent
                    border: none
                    color: #535353
                    font-weight: 300
        &-form
            margin-top: 10px
            width: 100%
            background: #e8e8e8
            border-radius: 10px
            padding: 30px 12px 15px 12px
        &-choose
            &__item
                & label
                    font-size: 14px
        &-amount
            text-align: center
            font-size: 20px
    .catalog
        &-sort
            flex-direction: column
            align-items: center
            &__block
                width: 100%
                &:first-child
                    margin-bottom: 20px
        &-item
            width: 140px
            height: 140px
            &__title
                font-size: 14px

    .modal
        &-title
            font-size: 24px
        &-txt
            font-size: 16px
        &-close
            width: 30px
            height: 30px
            top: -130%
            right: -15%
            & div
                height: 5px
                width: 30px
    .navigation
        &-mobile
            display: flex
@media (max-width: 320px)
    .review
        &__social
            width: 100%
    .menu-mobile__item
        font-size: 12px