.modal
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    &-wrapper
        display: none
        position: fixed
        height: 100vh
        width: 100%
        background: #fff
        z-index: 10
    &-close
        width: 52px
        height: 52px
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        & div
            position: absolute
            border-radius: 5px
            height: 8px
            width: 52px
            background: #949494
            &:first-child
                transform: rotate(45deg)
                
            &:last-child
                transform: rotate(-45deg)
    &-title
        font-size: 36px
        font-weight: bold
        color: #272727
        margin-bottom: 20px  
    &-txt
        margin-bottom: 20px
        font-size: 28px
        color: #585858
    &-phone
        font-weight: 300
    &-feedback
        position: relative
        top: 0
        left: 0
        margin-right: 0
        transform: none
        & .modal-close
            width: auto
            position: relative
            top: 0
            left: 0
            right: 0
            height: 20vh
            display: flex
            align-items: center
            margin-left: 15px
            &__btn
                width: 50px
                height: 50px
                border-radius: 20px
                background-color: #434343
                color: #ffffff
                font-size: 25px
                display: flex
                justify-content: center
                align-items: center
                &::before
                    content: ''
                    position: absolute
                    width: 20px
                    height: 20px
                    margin-left: 5px
                    border-left: 3px solid #ffffff
                    border-bottom: 3px solid #ffffff
                    transform: rotate(45deg)
        & .modal-title
            height: 20vh
            font-size: 36px
            margin-left: 15px
    &-form
        padding-top: 10vh
        background-color: #525252
        height: 60vh
        width: 100%
        position: relative
        border-top-right-radius: 30px
        border-top-left-radius: 30px
        & form
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            height: 80%
        & input
            background: transparent
            color: #ffffff
            border: none
            border-bottom: 1px solid #ffffff
            padding-left: 30px
            height: 40px
            font-size: 20px
            &::placeholder
                color: #ffffff
.navigation
    &-mobile
        height: 80px
        width: 100%
        border-top-right-radius: 20px
        border-top-left-radius: 20px
        box-shadow: 0 0 5px -2px #000000
        background: #fff
        position: fixed
        bottom: 0   
        display: none
        justify-content: space-between
        align-items: center
        padding: 0 15px
    &-item
        width: 15%
        position: relative
        text-align: center
        &:first-child
            width: 25%
            text-align: center
            color: #dd8c44
            margin-right: 5px
            & .call-status
                width: 5px
                height: 5px
                border-radius: 50%
                background: #dd8c44
                margin: 0 auto
        & img
            max-width: 25px
        &__cart
            & .menu-cart
                width: 40px
                background-size: contain
                background-repeat: no-repeat
                background-position: center
            & .menu-cart__number
                bottom: -2px
                left: -2px
    &-search
        font-size: 22px
    &-catalog
        height: 25px
        width: 30px
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        & div
            width: 100%
            background: #383838
            border-radius: 20px
            &:first-child
                height: 5px
            &:nth-child(2n+2)
                height: 5px
                width: 70%
            &:last-child
                height: 4px
                width: 40%
                
                
               
                
        
            
