.title
    font-size: 25px
    &-desc
        font-weight: 400
        color: #222222
        margin-bottom: 50px
    &-add_accessories
        text-transform: uppercase
        font-weight: 300
        color: #535353
        text-align: center
        margin-top: 90px
    &-section
        text-transform: uppercase
        font-weight: 300
        color: #535353
        padding: 60px 0
        text-align: center
        font-size: 35px
    &-blog
        text-align: left
        font-weight: bold
        text-transform: none
    &-catalog
        display: flex
        justify-content: center
    &-arrow
        position: relative
        cursor: pointer
        margin-left: 20px
        width: 40px
        height: 40px
        border-radius: 50%
        background: #fff
        border: 1px solid #a1a1a1
        display: flex
        justify-content: center
        &::before
            transition: .3s all ease-in-out
            content: ''
            position: absolute
            width: 10px
            height: 10px
            background: transparent
            border-right: 1px solid #a1a1a1
            border-bottom: 1px solid #a1a1a1
            transform: rotate(45deg)
            bottom: 17px
        &__active
            &::before
                bottom: 12px
                transition: .3s all ease-in-out
                transform: rotate(-135deg)