.wrapper
	width: 100%
	display: flex
	justify-content: center
	&--header
		background: #eeeeee
		@media (max-width: 1169px)
			background: #fff
		& .menu-mobile
			color: #484848
			font-weight: 400
			& a
				color: #484848
		& .menu-search
			color: #484848
		&__main
			background: #789bcb	
			& .menu
				color: #ffffff
				& a
					color: #ffffff
			& .menu-mobile
				color: #ffffff
				font-weight: 400
				& a
					color: #ffffff
			& .menu-search
				color: #ffffff
				& input
					border-bottom: 1px solid #ffffff
					&::placeholder 
						color: #ffffff

	&--partners
		margin-top: 30px
	&--map
		background: url('/img/map.png')
		height: 400px
	&--blog
		margin-bottom: 50px
	&--footer
		height: 350px
		background: #323232
	&--bg
		background: #fff
		width: 90vw
		margin: 0 auto
		border-bottom-left-radius: 30px
		border-bottom-right-radius: 30px
		&__body
			background: #e8e8e8
